{{  form_start(form, {
'attr': {
'novalidate': 'novalidate',
}
})
}}
    {{ form_errors(form) }}

<fieldset class="fsPetDetails">
    <h5 style="#636363">Pet Details</h5>
    <div>
        <div class="label">
            {% if form.petType.vars.errors | length %}
                <div class="field_with_errors">
            {% endif %}
            {{ form_label(form.petType) }}
            {% if form.petType.vars.errors | length %}
                </div>
            {% endif %}
        </div>
        <div class="input">
            <div id="found_pet_petType" class="radioset">
                {{ form_widget(form.petType) }}
                {% if form.petType.vars.errors | length %}
                    <div class="field_with_errors_error_list">
                {% endif %}
                {{ form_errors(form.petType) }}
                {% if form.petType.vars.errors | length %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <div class="label">
            {% if form.petBreed.vars.errors | length %}
                <div class="field_with_errors">
            {% endif %}
            {{ form_label(form.petBreed) }}
            {% if form.petBreed.vars.errors | length %}
                </div>
            {% endif %}
        </div>
        <div class="input">
            {{ form_widget(form.petBreed) }}
            {% if form.petBreed.vars.errors | length %}
                <div class="field_with_errors_error_list">
            {% endif %}
            {{ form_errors(form.petBreed) }}
            {% if form.petBreed.vars.errors | length %}
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="label">
            {% if form.petName.vars.errors | length %}
                <div class="field_with_errors">
            {% endif %}
            {{ form_label(form.petName) }}
            {% if form.petName.vars.errors | length %}
                </div>
            {% endif %}
        </div>
        <div class="input">
            {{ form_widget(form.petName) }}
            {% if form.petName.vars.errors | length %}
                <div class="field_with_errors_error_list">
            {% endif %}
            {{ form_errors(form.petName) }}
            {% if form.petName.vars.errors | length %}
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="label">
            {% if form.petColors.vars.errors | length %}
                <div class="field_with_errors">
            {% endif %}
            {{ form_label(form.petColors) }}
            {% if form.petColors.vars.errors | length %}
                </div>
            {% endif %}
        </div>
        <div class="input">
            {{ form_widget(form.petColors) }}
            {% if form.petColors.vars.errors | length %}
                <div class="field_with_errors_error_list">
            {% endif %}
            {{ form_errors(form.petColors) }}
            {% if form.petColors.vars.errors | length %}
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="label">
            {% if form.petDescription.vars.errors | length %}
                <div class="field_with_errors">
            {% endif %}
            {{ form_label(form.petDescription) }}
            {% if form.petDescription.vars.errors | length %}
                </div>
            {% endif %}
        </div>
        <div class="input">
            {{ form_widget(form.petDescription) }}
            {% if form.petDescription.vars.errors | length %}
                <div class="field_with_errors_error_list">
            {% endif %}
            {{ form_errors(form.petDescription) }}
            {% if form.petDescription.vars.errors | length %}
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="label">
            {% if form.petLocationFoundCity.vars.errors | length %}
                <div class="field_with_errors">
            {% endif %}
                    <label class="required" for="found_pet_petLocationFoundCity">Location found (Street/City)<br />
                        (e.g. "Mongomery Ave, Cleveland" or<br />
                        "Montgomery Ave &amp; Main St in Cleveland")
                    </label>
            {% if form.petLocationFoundCity.vars.errors | length %}
                </div>
            {% endif %}
        </div>
        <div class="input">
            {{ form_widget(form.petLocationFoundCity) }}
            {% if form.petLocationFoundCity.vars.errors | length %}
                <div class="field_with_errors_error_list">
            {% endif %}
            {{ form_errors(form.petLocationFoundCity) }}
            {% if form.petLocationFoundCity.vars.errors | length %}
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="label">
            {% if form.petLocationFoundState.vars.errors | length %}
                <div class="field_with_errors">
            {% endif %}
            {{ form_label(form.petLocationFoundState) }}
            {% if form.petLocationFoundState.vars.errors | length %}
                </div>
            {% endif %}
        </div>
        <div class="input">
            {{ form_widget(form.petLocationFoundState) }}
            {% if form.petLocationFoundState.vars.errors | length %}
                <div class="field_with_errors_error_list">
            {% endif %}
            {{ form_errors(form.petLocationFoundState) }}
            {% if form.petLocationFoundState.vars.errors | length %}
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="label">
            <label class="required" for="found_pet_petImage">
                Upload a picture (optional)<br/>
                (JPEG, PNG or GIF)
            </label>
        </div>
        <div class="input">
            {{ form_widget(form.petImage) }} <br />
            {% if form.petImage.vars.errors | length %}
                <div class="field_with_errors_error_list">
            {% endif %}
            {{ form_errors(form.petImage) }}
            {% if form.petImage.vars.errors | length %}
                </div>
            {% endif %}
            {% if app.session.get('foundPetImage-cached') is defined and app.session.get('foundPetImage-cached') is not empty %}
                {% set imageExists = true %}
                <img src="{{ app.session.get('foundPetImage-cached') | imagine_filter('thumbnail') }}" style="border: 1px solid #000; margin-top: 10px; display: block; max-width: 100px; max-height: 100px;"/>
            {% elseif foundPet is defined and foundPet.petImage is defined and foundPet.petImage is not empty %}
                {% set imageExists = true %}
                <img src="{{ foundPet.petImage | imagine_filter('thumbnail') }}" style="border: 1px solid #000; margin-top: 10px; display: block; max-width: 100px; max-height: 100px;"/>
            {% else %}

            {% endif %}
        </div>
    </div>
    {#{% set imageExists = (action == 'edit' and foundPet is defined and foundPet.petImage is defined and foundPet.petImage is not empty) %}#}
    <div{% if not imageExists is defined %} style="display: none;"{% endif %}>
        <div class="label"></div>
        <div class="input">
            {{ form_widget(form.deletePetImage) }} {{ form_label(form.deletePetImage) }}
        </div>
    </div>
</fieldset>
<fieldset class="fsContactInformation">
    <h5 style="color: #636363;">Contact Information</h5>
    <div>
        <div>
            <div class="label">
                {% if form.contactName.vars.errors | length %}
                    <div class="field_with_errors">
                {% endif %}
                {{ form_label(form.contactName) }}
                {% if form.contactName.vars.errors | length %}
                    </div>
                {% endif %}
            </div>
            <div class="input">
                {{ form_widget(form.contactName) }}
                {% if form.contactName.vars.errors | length %}
                    <div class="field_with_errors_error_list">
                {% endif %}
                {{ form_errors(form.contactName) }}
                {% if form.contactName.vars.errors | length %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="label">
                {% if form.contactEmail.vars.errors | length %}
                    <div class="field_with_errors">
                {% endif %}
                {{ form_label(form.contactEmail) }}
                {% if form.contactEmail.vars.errors | length %}
                    </div>
                {% endif %}
            </div>
            <div class="input">
                {{ form_widget(form.contactEmail) }}
                {% if form.contactEmail.vars.errors | length %}
                    <div class="field_with_errors_error_list">
                {% endif %}
                {{ form_errors(form.contactEmail) }}
                {% if form.contactEmail.vars.errors | length %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="label">
                {% if form.contactPhone.vars.errors | length %}
                    <div class="field_with_errors">
                {% endif %}
                {{ form_label(form.contactPhone) }}
                {% if form.contactPhone.vars.errors | length %}
                    </div>
                {% endif %}
            </div>
            <div class="input">
                {{ form_widget(form.contactPhone) }}
                {% if form.contactPhone.vars.errors | length %}
                    <div class="field_with_errors_error_list">
                {% endif %}
                {{ form_errors(form.contactPhone) }}
                {% if form.contactPhone.vars.errors | length %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</fieldset>

<div class="actions">
    <div style="display: block; text-align: center; margin: 30px 0 20px 0;">
        {% if action is defined and action == 'edit' %}
            {{ form_widget(form.save, {'label': 'Update post'}) }}
        {% else %}
            {{ form_widget(form.save, {'label': 'Create post'}) }}
        {% endif %}
    </div>
</div>
{{ form_end(form) }}