&#169;2012-{{ "now"|date("Y") }} WhereIsMyPet.org All Rights Reserved.
<div id="links">
    <br/>
    <span><a href="{{ path('b_conway_website_homepage') }}">Home</a></span>
    <span><a href="{{ path('b_conway_website_lost_pet_create') }}">Post your lost pet</a></span>
    <span><a href="{{ path('b_conway_website_found_pet_create') }}">Post a pet you found</a></span>
    <span><a href="{{ path('b_conway_website_browse_all_pets') }}">Browse pet reports</a></span>
    <span><a href="{{ path('b_conway_website_contact_us') }}">Contact us</a></span>
</div>